@font-face {
    font-family: 'TT Lakes Regular';
    src: url('./src/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('./src/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/TTLakes-Regular.woff') format('woff'),
        url('./src/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('./src/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('./src/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/TTLakes-Bold.woff') format('woff'),
        url('./src/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('./src/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('./src/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/TTLakes-Medium.woff') format('woff'),
        url('./src/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Extra';
    src: url('./src/fonts/TTLakes-ExtraBold.eot');
    src: local('TT Lakes ExtraBold'), local('TTLakes-ExtraBold'),
        url('./src/fonts/TTLakesCompressed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./src/fonts/TTLakes-ExtraBold.woff') format('woff'),
        url('./src/fonts/TTLakes-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0;
    display: none;
}

/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a {
    color: inherit;
}

;

a:hover {
    text-decoration: none;
}


aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    background-color: inherit;
}



@media screen and (min-width: 320px) and (max-width: 767px) {

    .container {
        overflow-x: hidden;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    .header__nav-menu {
        padding: 15px;
        background-color: #FFFFFF;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header__nav-toolsGroup {
        display: flex;
        gap: 16px;
    }

    .icon {
        width: 40px;
        height: 40px;
        background: #FF3E79;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .header__nav-icon>button {
        position: relative;
        justify-items: center;
    }

    .header__logo {
        height: 50.81px;
        position: relative;
    }

    .header__logo::after {
        position: absolute;
        top: 10px;
        left: 110%;
        content: '';
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }


    .content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .content__title::before {
        content: '';
        width: 4px;
        height: 40px;
        background-color: #41F6D7;
        position: absolute;
        left: -5%;
        border-radius: 10px;
    }

    .content_heading{
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        font-family: 'TT Lakes Bold';
    }

    .content__title {
        position: relative;
        display: flex;
        left: 5%;
    }

    .content__menu {
        overflow-x: auto;
        padding-left: 5%;
    }

    .content__menu-list {
        display: flex;
        list-style: none;
    }

    .content__link {
        padding: 8px 9.3px 8px 16.54px;
        background-color: #F8F8F8;
        border:2px solid #F8F8F8;
        position: relative;
        color: #7E7E82;
        line-height: 24px;
        font-size: 16px;
        font-family: 'TT Lakes Regular';
        white-space: nowrap;
        letter-spacing: -0.2px;
    }


    .content__link:hover {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .content__about {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
       
    }


    .content__about-text {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .content__text{
        font-family: 'TT Lakes Regular';
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 18px;
        width: 288px;
        height: 90px;
        overflow: hidden;
    }


    .about__elem button::before {
        content: '';
        background-image: url(./src/img/text.svg);
        width: 8px;
        height: 11px;
        position: absolute;
        right: 103%;
        top: 25%;
    }

    .about__elem {
        left: 10%;
        position: relative;
    }

    .about__elem>button {
        line-height: 24px;
        font-size: 16px;
        font-family: 'TT Lakes Medium';
        letter-spacing: -0.2px;
    }

    .about__elem-img {
        padding-top: 16px;
        height: 230.8px;
    }

    .header__nav-userGroup {
        display: none;
    }

    button>span{
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1119px) {

    .container {
        overflow-x: hidden;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .header__nav-menu {
        padding: 15px;
        background-color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav-toolsGroup {
        display: flex;
        gap: 16px;
    }

    .header__nav-userGroup {
        position: relative;
        left: 40px;
        display: flex;
        gap: 16px;
    }

    .icon {
        width: 40px;
        height: 40px;
        background: #FF3E79;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__nav-icon>button {
        position: relative;
        justify-items: center;
    }

    .header__logo {
        height: 50.81px;
        position: relative;
        left: -64px;
    }

    .header__nav-menu:first-child::after {
        position: absolute;
        top: 25px;
        left: 80px;
        content: '';
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }

    .header__nav-menu:last-child::before {
        position: absolute;
        top: 25px;
        left: 615px;
        content: '';
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .content__title::before {
        content: '';
        width: 4px;
        height: 40px;
        background-color: #41F6D7;
        position: absolute;
        left: -5%;
        border-radius: 10px;
    }

    .content_heading{
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        font-family: 'TT Lakes Bold';
    }

    .content__title {
        position: relative;
        display: flex;
        left: 40px;
    }

    .content__menu {
        overflow-x: auto;
        padding-left: 40px;
    }

    .content__menu-list {
        display: flex;
        list-style: none;
    }

    .content__link {
        padding: 8px 9.3px 8px 16.54px;
        background-color: #F8F8F8;
        border:2px solid #F8F8F8;
        position: relative;
        color: #7E7E82;
        line-height: 24px;
        font-size: 16px;
        font-family: 'TT Lakes Regular';
        white-space: nowrap;
        letter-spacing: -0.2px;
    }


    .content__link:hover {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .content__about {
        display: flex;
        padding-left: 40px;
        gap: 48px;

    }

    .content__about-text {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .content__text {
        display: flex;
        flex-direction: column;
        gap: 31px;
        font-family: 'TT Lakes Regular';
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 18px;
        width: 312px;
        height: 160px;
        overflow: hidden;
    }


    .about__elem::before {
        content: '';
        background-image: url(./src/img/text.svg);
        width: 8px;
        height: 11px;
        position: absolute;
        right: 103%;
        top: 25%;
    }

    .about__elem {
        left: 10%;
        position: relative;
    }

    .about__elem>button {
        line-height: 24px;
        font-size: 16px;
        font-family: 'TT Lakes Medium';
        letter-spacing: -0.2px;
    }

    .about__elem-img {
        height: 259px;
    }

    .about__elem-img>img{
        height: 220px;
    }

    button>span{
        display: none;
    }




}


@media screen and (min-width: 1120px) {
    .container-forPC {
        margin: auto;
        max-width: 1120px;

    }

    .container {
        overflow-x: hidden;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
    }


    .header__nav-userGroup,
    .header__logo,
    .header__nav-menu>li {
        display: none;
    }

    
    .header__nav-toolsGroup {
        font-family: 'TT Lakes Regular';
        position: relative;
        left: 850px;
        display: flex;
        gap: 160px;
        cursor: pointer;
        top:28px;
    }

.tools__text{
    line-height: 24px;
    font-family: 'TT Lakes Regular';
    position: absolute;
    left:-120px;
    letter-spacing: -0.2;
}

.tools__text-search{
    line-height: 24px;
    font-family: 'TT Lakes Regular';
    position: absolute;
    left:85px;
    letter-spacing: -0.2;
}

    .icon {
        width: 40px;
        height: 40px;
        background: #FF3E79;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .content {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .content__title::before {
        content: '';
        width: 4px;
        height: 40px;
        background-color: #41F6D7;
        position: absolute;
        left: -38px;
        border-radius: 10px;
    }

    .content_heading{
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        font-family: 'TT Lakes Bold';
    }

    .content__title {
        position: relative;
        display: flex;
        left: 40px;
        top:-10px;
        width: 50%;
    }

    .content__menu {
        overflow-x: auto;
        padding-left: 40px;
        padding-bottom: 10px;
    }

    .content__menu-list {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        gap: 18px;
    }

    .content__link {
        padding: 8px 9.3px 8px 16.54px;
        background-color: #F8F8F8;
        border: 2px solid #F8F8F8;
        position: relative;
        color: #7E7E82;
        line-height: 24px;
        font-size: 16px;
        font-family: 'TT Lakes Regular';
        white-space: nowrap;
        letter-spacing: -0.2px;
    }


    .content__link:hover {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .content__about {
        display: flex;
        padding-left: 40px;
        gap: 48px;
    }

    .content__about-text {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .content__text {
        display: flex;
        flex-direction: column;
        gap: 31px;
        font-family: 'TT Lakes Regular';
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 18px;
        width: 490px;
        height: 160px;
        overflow: hidden;
    }


    .about__elem::before {
        content: '';
        background-image: url(./src/img/text.svg);
        width: 8px;
        height: 11px;
        position: absolute;
        right: 103%;
        top: 25%;

    }

    .about__elem {
        left: 10%;
        position: relative;

    }

    .about__elem>button {
        line-height: 24px;
        font-size: 16px;
        font-family: 'TT Lakes Medium';
        letter-spacing: -0.2px;
    }

    .about__elem-img {
        height: 334px;
        width: 530px;
    }

    .about__elem-img>img{
height: 80%;
    }


    .header__nav-menu,
    .header {
        display: contents;
    }

}


/* боковое меню */

.container-burger {
    overflow-x: hidden;
    width: 320px;
    height: 100vh;
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'TT Lakes Regular';
    box-shadow: 3px 0 20px 0 rgba(105, 105, 105, 0.5);

}

.header-burger {
    padding: 24px;
}

.header__list {
   margin: auto;
   max-width: 320px; 
   display: flex;
   gap: 20px;
}

.header-burger__logo {
    width: 97px;
    height: 51px;
    flex-grow:2;
}


.footer-burger__userGroup {
    display: flex;
    gap: 16px;
}

.menu__list>li:hover:before {
    content: '';
    background-color: #41F6D7;
    width: 4px;
    height: 20px;
    border-radius: 2px;
    position: absolute;
    left:-0.5px;
}


.menu__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    padding-left: 24px;
}

.menu__list>li:hover {
    color: #7E7E82;
    opacity: 0.5;
    transition: color 0.8s, opacity 0.8s;
}



.footer-burger {
    height: 60%;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding-left: 24px
   }

   .footer-burger__contacts{
    flex-direction: column;
    display: flex;
    gap: 12px; 
    align-items: flex-start;
    padding-left: 24px

   }

.footer-burger__lang{
padding-top: 40px;
padding-left: 24px;
padding-bottom: 32px;
}


.footer-burger__contacts>button{
    font-family: 'TT Lakes Regular';
}

.contacts__number {
  font-family: 'TT Lakes Extra' !important;
  font-size: 24px;
  line-height: 32px;
    
    letter-spacing: -0.6px;
}

.footer-burger__lang{
    display: flex;
    gap:10px;
    font-family: 'TT Lakes Regular';
}

.footer-burger__lang>button>label:hover {
    color: #7E7E82;
    opacity: 0.5;
    transition: color 0.8s, opacity 0.8s;
    cursor: pointer;
}

.footer-burger__lang>button>input{
    position: absolute;
    z-index: -1;
    opacity: 0;
} 

.icon:hover {
    opacity: 0.2;
    transition: opacity 0.8s;
}